@charset "utf-8";

@media screen and (min-width: 400px) {
	
	body {
	background: url(img/style1-background.png);
	
	width: 100%;
  	height: 600px;
  	background-repeat: no-repeat;
  	background-size: 100% auto; 
	margin: 0px;
	padding: 0px;
	}

	.header{
		background-color: #033058;
		height: 60px;
	}

	.content
	{
	  width: 400px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 3em;
	}

	.footer
	{
	  width: 400px;
	  margin-left: auto;
	  margin-right: auto;
	}	
	
	.inputText {
		border-radius: 0.3em;
		width:250px;
		float:right;
	}
	
	.anmelden{
	float: right;
	margin-top: 14px;
	margin-right: 50px;
	font-family: Arial;
	font-size: 110%;
	font-weight: bold;
	color: white;
	display: block;
	background-color: orange;
	padding: 5px 40px;
	border-radius:10px;
	}
	.anmelden:hover{
		background-color:#033058;
	}
	.anmelden:active{
		background-color: white;
	}
	
	#buttonRegister{
		background-image: url(img/white-arrow-right.png);
		background-repeat: no-repeat;
		background-position: right 10px center;
		width:14em;
		float: right;
		font-family: Arial;
		color: white;
		display: block;
		background-color: green;
		border-color:#669900;
		padding: 0.3em 2.4em;
		border-radius:0.3em;
	}
	#buttonRegister:disabled{
		background-image: url(img/white-arrow-right.png);
		background-repeat: no-repeat;
		background-position: right 10px center;
		width:14em;
		float: right;
		font-family: Arial;
		color: white;
		display: block;
		background-color: lightgray;
		border-color:#669900;
		padding: 0.3em 2.4em;
		border-radius:0.3em;
	}
	
	h2 {
		color: white;
		font-family: "Arial";
		font-size: 150%;
		
	}
	
}


@media screen and (max-width: 399px) {
	body {
	background: url(img/style1-background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
	}

	.header{
		background-color: #033058;
		height: 60px;
	}

	.content
	{
	  width: 400px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 3em;
	}

	.footer
	{
	  width: 400px;
	  margin-left: auto;
	  margin-right: auto;
	}	
	
	.inputText 
	{
		border-radius: 0.3em;
		width:350px;
		float:left;
	}
	.anmelden{
		float: right;
		margin-top: 14px;
		margin-right: 20px;
		font-family: Arial;
		font-size: 110%;
		font-weight: bold;
		color: white;
		display: block;
		background-color: orange;
		padding: 5px 5px;
		border-radius:10px;
	}
	.anmelden:hover{
		background-color:#033058;
	}
	.anmelden:active{
		background-color: white;
	}
	#buttonRegister{
		background-image: url(img/white-arrow-right.png);
		background-repeat: no-repeat;
		background-position: right 10px center;
		width:14em;
		float: right;
		font-family: Arial;
		color: white;
		display: block;
		background-color: green;
		border-color:#669900;
		padding: 0.3em 2.4em;
		margin-top: 1em;
		margin-right: 3.5em;
		border-radius:0.3em;
	}
	#buttonRegister:disabled{
		background-image: url(img/white-arrow-right.png);
		background-repeat: no-repeat;
		background-position: right 10px center;
		width:14em;
		float: right;
		font-family: Arial;
		color: white;
		display: block;
		background-color: lightgray;
		border-color:#669900;
		padding: 0.3em 2.4em;
		margin-top: 1em;
		margin-right: 3.5em;
		border-radius:0.3em;
	}
	h2 {
		color: white;
		font-family: "Arial";
		font-size: 110%;
		
	}
	
}

h4 {
	float:left;
	color: white;
	font-family: "Arial";
	font-size: 90%;

}

.inputLabel {
	color: white;
	font-family: "Arial";
	font-size: 90%;
}

.noteLabel {
	color: white;
	font-family: "Times New Roman";
	margin-top:5em;
	margin-left:3em;
	
}

.noteCopyright {
	color: white;
	font-family: "Arial";
	margin-top:5em;
	margin-left:9em;
	float:left;
}


.buttonStyle {
	border-radius: 0.3em;
	width:200px;
	float:right;
}


.logo{
	height: 50px;
	width: 50px;
	float:left;
	padding-top: 5px;
	padding-left: 10px;
	margin:2px;
}

.quiz{
	margin-top: 15px;
	margin-left: 10px;
	float: left;
	font-family: Arial;
	font-size: 150%;
	font-weight: 900;
	color: white;

}


.ewaSpieler{
	margin:20px;
	font-weight: bold;
}

.ewa{
	margin:10px;
	float: center;
	font-family: Arial;
	font-size: 110%;
	text-align: center;
	color: white;
	font-weight: bold;
}

.spieler1{
	margin-left: 21%;
	float: left;
	font-size: 90%;
	font-family: Arial;
	color: white;
}
.spieler2{
	margin-right: 21%;
	font-size: 90%;
	float: right;
	font-family: Arial;
	color: white;
}


@media screen and (min-width: 780px) {


.lva{
	margin-top: 5%;
	text-align: center;
	font-size: 150%;
	font-family: Arial;
	font-weight: lighter;
	color: white;
	letter-spacing: 1px;

}
.questions{
margin-top: 5px;
margin-left: auto;
margin-right: auto;
width: 760px;

}

.question1{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	text-align: center;
	padding-top: 16px;
float: left;

	
}
.question2{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	padding-top: 16px;
	text-align: center;
float:right;
}

.questions2{
margin-left: auto;
margin-right: auto;
width: 760px;

}

.question3{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	padding-top: 16px;
	text-align: center;
	float:left;
}
.question4{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	padding-top: 16px;
	text-align: center;
	float: right;
}
#buttonWeiter{
	background-image: url(img/white-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	width:14em;
	font-family: Arial;
	color: white;
	display: block;
	background-color: #36d344;
	padding: 0.3em 2.4em;
	border-radius:0.3em;
	border:1px solid grey;
	margin-top: 7px;
	margin-right:10px;
}

#buttonWeiter:disabled{
	background-image: url(img/white-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	width:14em;
	float: right;
	font-family: Arial;
	color: white;
	display: block;
	background-color: lightgray;
	padding: 0.3em 2.4em;
	border-radius:0.3em;
	border:1px solid grey;
	margin-top: 7px;
}
}



@media screen and (max-width: 779px) {

.lva{
	width: 371px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	text-align: center;
	font-size: 150%;
	font-family: Arial;
	font-weight: lighter;
	color: white;
	letter-spacing: 1px;

}

.question1{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	text-align: center;
	padding-top: 16px;
	margin-left: auto;
	margin-right: auto;


	
}
.question2{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	padding-top: 16px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}



.question3{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	padding-top: 16px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.question4{
	margin-top: 0.5em;
	font-size: 110%;
	font-family: Arial;
	width: 371px;
	height:38px;
	background-color: #b9d6f0;
	border-radius:10px;
	color:#033058;
	padding-top: 16px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}


#buttonWeiter{
	background-image: url(img/white-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	width:371px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	color: white;
	display: block;
	background-color: #36d344;

	padding: 0.3em 2.4em;
	border-radius:0.3em;
	border:1px solid grey;
	margin-top: 7px;
}

#buttonWeiter:disabled{
	background-image: url(img/white-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	width:371px;
	margin-left: auto;
	margin-right: auto;
	float: right;
	font-family: Arial;
	color: white;
	display: block;
	background-color: lightgray;
	border-color:black;
	padding: 0.3em 2.4em;
	border-radius:0.3em;
	
	margin-top: 7px;
}










}



