@(authentifForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Business Informatics Group Quiz - Login","loginpage"){
   
        <a class="accessibility" href="#login">Zum Login springen</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="registerlink" title="Klicke hier um dich zu registrieren" href="@routes.Registration.create()" accesskey="r">Registrieren</a></li>
            </ul>
        </nav>
        <!-- Login section -->
        <section role="main">
            <section id="login" aria-labelledby="loginheading">
                @helper.form(action = routes.Registration.submitLogin) {
                    <fieldset>
                        <legend id="loginheading">Login</legend>
                        @inputText(
			                authentifForm("userName"), 
			                '_label -> "Benutzername:",
			                '_showConstraints -> false,
			                'id -> "username"
			            )
                        @inputPassword(
			                authentifForm("passwort"), 
			                '_label -> "Passwort:",
			                '_showConstraints -> false,
			                'id -> "password"
			            )
                        <input id="loginsubmit" type="submit" value="Anmelden"/>
                    </fieldset>
                }
            </section>
            <!-- Register section -->
            <section id="register" aria-labelledby="registerheading">
                <h2 id="registerheading" class="accessibility">Registrierung</h2>
                <p>Nicht registriert?</p>
                <a href="@routes.Registration.create()">Zur Registierung</a>
            </section>
        </section>


}