@(registrationForm: Form[Player])

@import helper._
@import helper.twitterBootstrap._


@main("Business Informatics Group Quiz - Registrieren", "registerpage"){

        <a class="accessibility" href="@routes.Registration.create()">Zur Registrierung springen</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="loginlink" title="Klicke hier um dich anzumelden" href="@routes.Registration.login()" accesskey="l">Anmelden</a></li>
            </ul>
        </nav>
        <section role="main" id="register" aria-labelledby="registerheading">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">Registrierung</h2>
            @form(routes.Registration.save()) {
                <fieldset>
                    <legend>Persönliche Daten</legend>
                    
                    @inputText(
		                registrationForm("vorname"), 
		                '_label -> "Vorname:",
		                'id -> "firstname",
		                '_showConstraints -> false
		            )
                    
                    @inputText(
		                registrationForm("nachname"), 
		                '_label -> "Nachname:",
		                'id -> "lastname",
		                '_showConstraints -> false
		            )
		            
		            @select(
                  		registrationForm("geschlecht"), 
                 		options = options(Player.geschlechtToList),
                  		'_label -> "Geschlecht:"
              		)
              		
              		@inputText(registrationForm("geburtsTag"), '_label -> "Geburtstag", '_showConstraints -> false)
                    
                    
                    
                </fieldset>
                <fieldset>
                    <legend>Login Daten</legend>
                    @inputText(
		                registrationForm("userName"), 
		                '_label -> "Benutzername*:",
		                '_showConstraints -> false,
		                'id -> "username"
		            )
                    <div id="error_msg_username" class="hide" role="alert">Der Benutzername muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>
                    
                    @inputPassword(
		                registrationForm("passwort"), 
		                '_label -> "Passwort*:",
		                '_showConstraints -> false,
		                'id -> "password"
		            )
                    <div id="error_msg_password" class="hide" role="alert">Das Passwort muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>

                    <input id="registersubmit" type="submit" value="Registrieren" accesskey="s"/>
                    <p id="requiredhint">Mit "*" gekennzeichnete Felder sind Pflichtfelder</p>
                </fieldset>
            }
        </section>
        
}
