@(taktik: String)

@main("Business Informatics Group Quiz - Start","startpage") {

        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="logoutlink" href="@routes.Registration.logout()">Abmelden</a></li>
            </ul>
        </nav>
        
        <section role="main" id="quiz">
          <a id="startgame" href="@routes.Application.quiz()">Quiz starten</a>
        </section>


}
